.cards-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin:25px 0;
}

.card{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h3{
    margin-bottom:10px;
    color:#555;
}

.card h2{
    font-size:32px;
    margin:0;
}

.rating{
    border-left:6px solid #3b82f6;
}

.positive{
    border-left:6px solid #22c55e;
}

.neutral{
    border-left:6px solid #f59e0b;
}

.negative{
    border-left:6px solid #ef4444;
}